<div class="container py-5 pages">

  <div class="row">
    <div class="col-lg-6 col-sm-6" *ngIf="!isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/poojas" mdbBtn gradient="blue">
          <div class="d-flex-center flex-column">
            <mdb-icon fas icon="gopuram" size="4x" class="white-text mb-2"></mdb-icon>
            <span>Poojas</span>
          </div>
          </a>
      </mdb-card>
    </div>

    <div class="col-lg-6 col-sm-6" *ngIf="!isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/expenses" mdbBtn gradient="blue">
          <div class="d-flex-center flex-column">
            <mdb-icon fas icon="file-invoice-dollar" size="4x" class="white-text mb-2"></mdb-icon>
            <span>Expenses</span>
          </div></a>
      </mdb-card>
    </div>
  <!-- </div> -->
  <!-- <div class="row"> -->

    <div class="col-lg-6 col-sm-6" *ngIf="!isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/donations" mdbBtn gradient="blue">
          <div class="d-flex-center flex-column">
            <mdb-icon fas icon="hand-holding-usd" size="4x" class="white-text mb-2"></mdb-icon>
            <span>Donations</span>
          </div>
        </a>
      </mdb-card>
    </div>

    <div class="col-lg-6 col-sm-6" *ngIf="isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/admin-panel" mdbBtn gradient="blue">
          <div class="d-flex-center flex-column">
            <mdb-icon fas icon="mask" size="4x" class="white-text mb-2"></mdb-icon>
            <span>Admin Panel</span>
          </div>
        </a>
      </mdb-card>
    </div>

    <div class="col-lg-6 col-sm-6" *ngIf="role === 'manager'">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/reports" mdbBtn gradient="blue">
          <div class="d-flex-center flex-column">
            <mdb-icon fas icon="file-contract" size="4x" class="white-text mb-2"></mdb-icon>
            <span>Reports</span>
          </div>
        </a>
      </mdb-card>
    </div>

    <div class="col-lg-6 col-sm-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/settings" mdbBtn gradient="blue">
          <div class="d-flex-center flex-column">
            <mdb-icon fas icon="tools" size="4x" class="white-text mb-2"></mdb-icon>
            <span>Settings</span>
          </div>
        </a>
      </mdb-card>
    </div>

  </div>
</div>