<div class="container py-5 pages">
  <div class="row">
    <div class="col-lg-6 col-sm-6" *ngIf="!isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/poojas" mdbBtn gradient="purple">Poojas</a>
      </mdb-card>
    </div>

    <div class="col-lg-6 col-sm-6" *ngIf="!isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/expenses" mdbBtn gradient="blue">Expenses</a>
      </mdb-card>
    </div>
  <!-- </div> -->
  <!-- <div class="row"> -->

    <div class="col-lg-6 col-sm-6" *ngIf="!isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/donations" mdbBtn gradient="aqua">Donations</a>
      </mdb-card>
    </div>

    <div class="col-lg-6 col-sm-6">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/settings" mdbBtn gradient="purple">Settings</a>
      </mdb-card>
    </div>

    <div class="col-lg-6 col-sm-6" *ngIf="isAdmin">
      <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
        <a routerLink="/admin-panel" mdbBtn gradient="aqua">Admin Panel</a>
      </mdb-card>
    </div>

  </div>
</div>