
.split-body {
    // height: calc(100vh - 80px);
    padding-top: 10px;
    // overflow: hidden;
  
    // .left-section, .right-section {
    //   height: calc(100vh - 80px);
    //   overflow-y: auto;
    // }

    @media only screen and (max-width: 768px) {
      .right-section {
        margin-top: 20px;
        padding: 20px 5px;
        border-top: 5px solid lightslategray;
      }
    }
  }
  