<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4 col-sm-8 animated fadeIn">
      <!-- Material form login -->
    <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center">
      <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
      <mdb-card class="z-depth-2" *ngIf="!(isLoading$ | async)">

        <div class="white text-center py-4">
          <img src="assets/images/RR-logo.png" class="pb-2" height="100" alt="">
          <h5>
            <strong>{{ "LOGIN.LOGIN" | translate}}</strong>
          </h5>
        </div>


        <!--Card content-->
        <mdb-card-body class="px-lg-5 pt-0">
          <div *ngIf="error$ | async as error" class="alert alert-danger" role="alert">
            {{ error }}
          </div>
          <!-- Form -->
          <form [formGroup]="loginForm" class="text-center" style="color: #757575;">

            <!-- Username -->
            <div class="md-form">
              <input mdbValidate [validateSuccess]="false" type="email" id="username" class="form-control" formControlName="username" mdbInput>
              <label for="username">{{ "LOGIN.USERNAME" | translate}}</label>
              <mdb-error *ngIf="username && username.invalid && (username.dirty || username.touched)">Username is required</mdb-error>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input mdbValidate [validateSuccess]="false" type="password" id="password" class="form-control" formControlName="password" mdbInput>
              <label for="password">{{ "LOGIN.PASSWORD" | translate}}</label>
              <mdb-error *ngIf="password && password.invalid && (password.dirty || password.touched)">Password is required</mdb-error>
            </div>

            <!-- Sign in button -->
            <button mdbBtn color="primary" block="true" class="my-4 waves-effect z-depth-0"
              mdbWavesEffect type="submit" (click)="onLogin()">{{ "LOGIN.LOGIN" | translate}}</button>

            <!-- Register -->
            <!-- <p>Not a member?
              <a routerLink="/register">Register</a>
            </p> -->

            <!-- Social login -->
            <!-- <p>or log in with:</p>
            <a type="button" class="mr-4" (click)="onFacebookLogin('facebook')">
              <mdb-icon fab icon="facebook-f"></mdb-icon>
            </a>
            <a type="button" class="mr-4" (click)="onTwitterLogin('twitter')">
              <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
            <a type="button" (click)="onGoogleLogin('google')">
              <mdb-icon fab icon="google-plus-g"></mdb-icon>
            </a> -->
          </form>
          <!-- Form -->
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-toolbar row" role="toolbar" aria-label="Toolbar with button groups">
                <blockquote class="text-left blockquote bq-success col-md-6 col-sm-12">
                </blockquote>
                <div class="btn-group m-2 mt-4 w-100 d-flex-center" role="group" aria-label="First group">
                  <span>{{ "LOGIN.LANGUAGE" | translate}}</span> 
                  <button mdbBtn type="button" (click)="setLanguage('en')" [color]="selectedLanguage === 'en' ? 'primary' : 'white'"
                    class="waves-light col-4 col-md-4 ml-2" size="sm" mdbWavesEffect>
                    English
                  </button>
                  <button mdbBtn type="button" (click)="setLanguage('ml')" [color]="selectedLanguage === 'ml' ? 'primary' : 'white'"
                    class="waves-light col-4 col-md-4" size="sm" mdbWavesEffect>
                    മലയാളം
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mdb-card-body>

      </mdb-card>
      <!-- Material form login -->
    </div>
  </div>
</div>
