<div class="white px-4 py-2">
  <blockquote class="text-left  blockquote bq-success col-md-6 col-sm-12">
    <h4 class="header">{{"SETTINGS.heading" | translate}}</h4>
    <p class="py-0" *ngIf="user.role === 'manager'">{{"SETTINGS.description" | translate}}</p>
  </blockquote>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <blockquote class="text-left blockquote bq-success col-md-6 col-sm-12">
        </blockquote>
        <div class="btn-group m-2 mt-4 w-100 d-flex" role="group" aria-label="First group">
          <span>{{"LOGIN.LANGUAGE" | translate}}</span> 
          <button mdbBtn type="button" (click)="setLanguage('en')" [color]="selectedLanguage === 'en' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2 ml-2" size="sm" mdbWavesEffect>
            English
          </button>
          <button mdbBtn type="button" (click)="setLanguage('ml')" [color]="selectedLanguage === 'ml' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
            മലയാളം
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <blockquote class="text-left blockquote bq-success col-md-6 col-sm-12">
        </blockquote>
        <div class="btn-group m-2 mt-4 w-100 d-flex" role="group" aria-label="First group">
          <span>{{"SETTINGS.pageSize" | translate}}: </span> 
          <button mdbBtn type="button" (click)="setPageSize('A4')" [color]="pageSize === 'A4' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2 ml-2" size="sm" mdbWavesEffect>
            A4
          </button>
          <button mdbBtn type="button" (click)="setPageSize('A4/2')" [color]="pageSize === 'A4/2' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
            A4 (Tear in half)
          </button>
          <button mdbBtn type="button" (click)="setPageSize('bill')" [color]="pageSize === 'bill' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
            Bill (2in)
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="btn-group m-2 mt-4 w-100 d-flex" role="group" aria-label="First group">
        <span>{{"SETTINGS.printDuplicate" | translate}}: </span> 
        <button mdbBtn type="button" (click)="setDuplicateCopyPage('same')" [color]="duplicatePage === 'same' ? 'primary' : 'white'"
          class="waves-light col-4 col-md-4 col-lg-3 col-xl-2 ml-2" size="sm" mdbWavesEffect>
          {{"SETTINGS.samePage" | translate}}
        </button>
        <button mdbBtn type="button" (click)="setDuplicateCopyPage('next')" [color]="duplicatePage === 'next' ? 'primary' : 'white'"
          class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
          {{"SETTINGS.nextPage" | translate}}
        </button>
        <button mdbBtn type="button" (click)="setDuplicateCopyPage('never')" [color]="duplicatePage === 'never' ? 'primary' : 'white'"
          class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
          {{"SETTINGS.neverPrint" | translate}}
        </button>
      </div>
    </div>

  </div>
</div>

<ng-container *ngIf="user.role === 'manager'">
  <app-pooja-list></app-pooja-list>
  
  <div class="white px-4 py-2" >
    <blockquote class="text-left  blockquote bq-success">
      <h3 class="header">Add or remove Users</h3>
    </blockquote>
    <app-users-list [users]="users$ | async" (addUser)="openAddUserModal($event)"
    (deleteUser)="onDeleteUser($event)"></app-users-list>
  </div>

</ng-container>

<div class="container py-5">
  <div class="row mx-auto py-5">
    <div class="col-md-4 mt-3">
      <app-profile-user [user]="user$ | async" (logout)="logoutUser($event)"></app-profile-user>
    </div>
    <div class="col-md-8 mt-3">
      <app-main-profile [user]="user$ | async" (profileUpdate)="updateProfile($event)"></app-main-profile>
    </div>
  </div>
</div>