<div class="white px-4 py-2">
  <blockquote class="text-left  blockquote bq-success">
    <h3 class="header">Settings</h3>
    <p class="py-0" *ngIf="user.role === 'manager'">Change your pooja and profile settings here</p>
  </blockquote>
</div>

<ng-container *ngIf="user.role === 'manager'">
  <app-pooja-list></app-pooja-list>
  
  <div class="white px-4 py-2" >
    <blockquote class="text-left  blockquote bq-success">
      <h3 class="header">Add or remove Users</h3>
    </blockquote>
    <app-users-list [users]="users$ | async" (addUser)="openAddUserModal($event)"
    (deleteUser)="onDeleteUser($event)"></app-users-list>
  </div>

</ng-container>

<div class="container py-5">
  <div class="row mx-auto py-5">
    <div class="col-md-4 mt-3">
      <app-profile-user [user]="user$ | async" (logout)="logoutUser($event)"></app-profile-user>
    </div>
    <div class="col-md-8 mt-3">
      <app-main-profile [user]="user$ | async" (profileUpdate)="updateProfile($event)"></app-main-profile>
    </div>
  </div>
</div>