<div class="white px-4 py-2">
  <blockquote class="text-left  blockquote bq-success col-md-6 col-sm-12">
    <h3 class="header">Settings</h3>
    <p class="py-0" *ngIf="user.role === 'manager'">Change your pooja and profile settings here</p>
  </blockquote>

  <div class="col-md-6 col-sm-12">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <blockquote class="text-left blockquote bq-success col-md-6 col-sm-12">
      </blockquote>
      <div class="btn-group mr-2 mt-4 row w-100 d-flex-center" role="group" aria-label="First group">
        <span>Printer Page Size: </span> 
        <button mdbBtn type="button" (click)="setPageSize('A4')" [color]="pageSize === 'A4' ? 'primary' : 'white'"
          class="waves-light col-4 col-md-4 col-lg-3 col-xl-2 ml-2" size="sm" mdbWavesEffect>
          A4
        </button>
        <button mdbBtn type="button" (click)="setPageSize('bill')" [color]="pageSize === 'bill' ? 'primary' : 'white'"
          class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
          Bill (2in)
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="user.role === 'manager'">
  <app-pooja-list></app-pooja-list>
  
  <div class="white px-4 py-2" >
    <blockquote class="text-left  blockquote bq-success">
      <h3 class="header">Add or remove Users</h3>
    </blockquote>
    <app-users-list [users]="users$ | async" (addUser)="openAddUserModal($event)"
    (deleteUser)="onDeleteUser($event)"></app-users-list>
  </div>

</ng-container>

<div class="container py-5">
  <div class="row mx-auto py-5">
    <div class="col-md-4 mt-3">
      <app-profile-user [user]="user$ | async" (logout)="logoutUser($event)"></app-profile-user>
    </div>
    <div class="col-md-8 mt-3">
      <app-main-profile [user]="user$ | async" (profileUpdate)="updateProfile($event)"></app-main-profile>
    </div>
  </div>
</div>