.poojas-list {
  box-sizing: border-box;
  justify-content: center;
  user-select: none;

  mdb-card {
    min-width: 50%;
  }
}

.pooja {
  width: 80%;
  margin: 1rem;

  .add-card {
    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
  }
}

.add {
  height: 40px;
}