<app-split-body [isLoading$]="!isLoading$">
  <div class="left-section">
    <mdb-card>
      <mdb-card-header class="w-100 d-flex justify-space-between bg-primary white-text">
        <div>
          <blockquote class="text-left  blockquote bq-success">
            <h3 class="header">Add Expense</h3>
          </blockquote>
        </div>
        <button mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="expenseDate" [endDate]="endDate" [startDate]="startDate"
        header="Select Date" (dateSelected)="expDatePicked($event)">
        <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> <span appDateTransform [date]="expenseDate.format('YYYYMMDD')"></span>
      </button>
      </mdb-card-header>
  
      <mdb-card-body class="py-2">
        <form #expenseForm="ngForm">
          <div class="d-flex">
          <div class="md-form">
            <input type="text" id="item" name="item" class="form-control" [(ngModel)]="expense.item" mdbInput mdbValidate [validateSuccess]="false" #item="ngModel" required>
            <label for="item">Item</label>
            <mdb-error *ngIf="item && item.invalid && (item.dirty || item.touched)">item is required</mdb-error>
          </div>
          <div class="suggestion-container" *ngIf="frequentExpenses?.length">
            <!-- <mdb-badge class="cursor-pointer mr-1" *ngFor="let expenseName of frequentExpenses" pill="true" [info]="expense.item !== expenseName" [success]="expense.item === expenseName" (click)="expense.item = expenseName">{{ expenseName }}</mdb-badge> -->
          </div>
          </div>

          <div class="md-form" style="margin-top: 15px;">
            <textarea type="text" id="description" name="description" class="my-0 py-0 md-textarea form-control" 
            #description="ngModel" [(ngModel)]="expense.description" mdbInput mdbValidate
              [validateSuccess]="false" required></textarea>
            <label for="description">Description</label>
            <mdb-error *ngIf="description && description.invalid && (description.dirty || description.touched)">Description is required</mdb-error>
          </div>

          <div class="text-lg">
            <label for="cost" class="grey-text">Cost</label>
            <div class="md-form mt-0">
              <span class="d-flex">
                <span class="price">&#x20B9;</span>
                <input type="number" class="form-control price" id="cost" name="cost" [(ngModel)]="expense.cost" #cost="ngModel" mdbValidate [validateSuccess]="false" required>
              </span>
              <mdb-error class="ml-3" *ngIf="cost && cost.invalid && (cost.dirty || cost.touched)">Cost is required</mdb-error>
            </div>
          </div>

        </form>
      </mdb-card-body>
      <mdb-card-footer class="d-flex">
        <button type="button" mdbBtn color="white" class="relative waves-light pull-right" mdbWavesEffect (click)="expenseForm.reset()">Clear
          </button>
        <button type="button" mdbBtn color="success" [disabled]="expenseForm.invalid || (isLoading$ | async)" class="relative waves-light pull-right" mdbWavesEffect (click)="onSave()">Save
          </button>

      </mdb-card-footer>
    </mdb-card>


    <mdb-card class="mt-2" *ngIf="(isManager$ | async)">
      <!-- salary section -->
      <mdb-card-header class="w-100 d-flex justify-space-between bg-primary white-text">
        <div>
          <blockquote class="text-left  blockquote bq-success">
            <h3 class="header">Record Salary</h3>
          </blockquote>
        </div>
        <button mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="salaryDate" [endDate]="endDate" [startDate]="startDate"
        header="Select Salary Given Date" (dateSelected)="salDatePicked($event)">
        <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> {{ salaryDate.format('dddd DD/MM/YYYY') }}
      </button>
      </mdb-card-header>
  
      <mdb-card-body class="py-2">
        <form #salaryForm="ngForm">
          <div class="d-flex">
          <div class="md-form">
            <input type="text" id="description" name="description" class="form-control" [(ngModel)]="salary.description" mdbInput mdbValidate [validateSuccess]="false" #description="ngModel" required>
            <label for="description">Paid To:</label>
            <mdb-error *ngIf="description && description.invalid && (description.dirty || description.touched)">Person Name is required</mdb-error>
          </div>
          <div class="suggestion-container" *ngIf="frequentSalaries?.length">
            <!-- <mdb-badge class="cursor-pointer mr-1" *ngFor="let item of frequentSalaries" pill="true" [info]="item.person !== salary.description" [success]="item.person === salary.description" (click)="salary.description = item.person; salary.cost = item.amount">{{ item.person }}</mdb-badge> -->
          </div>
          </div>

          <div class="text-lg">
            <label for="cost" class="grey-text">Amount</label>
            <div class="md-form mt-0">
              <span class="d-flex">
                <span class="price">&#x20B9;</span>
                <input type="number" class="form-control price" id="cost" name="cost" [(ngModel)]="salary.cost" #cost="ngModel" mdbValidate [validateSuccess]="false" required>
              </span>
              <mdb-error class="ml-3" *ngIf="cost && cost.invalid && (cost.dirty || cost.touched)">Amount is required</mdb-error>
            </div>
          </div>

        </form>
      </mdb-card-body>
      <mdb-card-footer class="d-flex">
        <button type="button" mdbBtn color="white" class="relative waves-light pull-right" mdbWavesEffect (click)="salaryForm.reset()">Clear
          </button>
        <button type="button" mdbBtn color="success" [disabled]="salaryForm.invalid || (isLoading$ | async)" class="relative waves-light pull-right" mdbWavesEffect (click)="onSalarySave(salaryForm)">Save
          </button>

      </mdb-card-footer>
    </mdb-card>
  </div>
  <div class="right-section pb-4">
    <app-right-card [header]="'Todays Expenses'" >
      <div class="card-header bg-primary white-text">
        <span class="icon-button" (click)="prevDate()">
          <mdb-icon *ngIf="isManager$ | async" fas icon="chevron-left" class="ml-1 float-left delete cursor-pointer white-text" alt="Left"></mdb-icon>
        </span>
        <span>
          Expense on 
          <button [disabled]="!(isManager$ | async)" mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="defaultDate" [endDate]="defaultDate" [startDate]="startDate"
          (click)="dateClicked($event)" header="Select Date" (dateSelected)="datePicked($event)">
            <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> {{ formattedDate }}
          </button>
        </span>
        <span class="icon-button" (click)="nextDate()">
          <mdb-icon *ngIf="(isManager$ | async) && selectedDate.format('DD/MM/YYYY') !== defaultDate.format('DD/MM/YYYY')" mdbtn fas icon="chevron-right" class="ml-1 float-right delete cursor-pointer white-text" alt="Right"></mdb-icon>
        </span>
      </div>
      <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center">
        <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <table mdbTable small="true" striped="true" *ngIf="!(isLoading$ | async) && todaysExpenseList.length > 0">
        <thead>
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todaysExpenseList" [class.salary]="item?.item === 'Salary'">
            <td scope="row">{{ item?.item }}</td>
            <td>{{ item?.description }}</td>
            <td class="table-price">&#x20B9;{{ item?.cost }}
              <mdb-icon *ngIf="isManager$ | async" fas icon="trash" class="ml-1 float-right delete grey-text" (click)="onDelete(item?.uuid)" alt="Delete"></mdb-icon>
            </td>
          </tr>

          <tr>
          </tr>
        </tbody>
      </table>
      <div role="footer" *ngIf="!(isLoading$ | async)">
        <div class="card-footer text-muted">
          Total: <b class="price total-amount">&#x20B9;{{getTotalExpense()}}</b>
        </div>
      </div>
    </app-right-card>

    <!-- <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center" style="margin-top: 200px">
      <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div> -->
  </div>
</app-split-body>

