.justify-space-between {
    justify-content: space-between;
}

.price {
    font-size: 24px;
}

.table-price {
    font-weight: bold;
}

.right-section {
 
    table {
        text-align: left;
        margin-bottom: 0;

        .total-amount {
            font-weight: bold;
            font-size: 18px;
        }
        .delete {
            cursor: pointer;
        }
    }
}


.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.card-body {
    padding: 0 1.25rem;
}