.green-row {
    background-color: #90ee904f;
}

.red-row {
    background-color: #ff000047;
}

.profit-row {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

.loss-row {
    background-color: darkred;
    color: white;
    font-weight: bold;
}