<div class="white px-4 py-2">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3 class="pt-2">{{ "REPORTS.Financial_Reports" | translate }}</h3>
      <p class="grey-text pt-1">{{ "REPORTS.desc" | translate }}</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2 mt-4 row w-100" role="group" aria-label="First group">
          <button mdbBtn type="button" (click)="initTab('day')" [color]="activeTab === 'day' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
            {{ "REPORTS.day" | translate }}
          </button>
          <button mdbBtn type="button" (click)="initTab('week')" [color]="activeTab === 'week' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
            {{ "REPORTS.week" | translate }}
          </button>
          <button mdbBtn type="button" (click)="initTab('month')"
            [color]="activeTab === 'month' ? 'primary' : 'white'" class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
            {{ "REPORTS.month" | translate }}
          </button>
          <button mdbBtn type="button" (click)="initTab('year')" [color]="activeTab === 'year' ? 'primary' : 'white'"
            class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm"
            mdbWavesEffect>
            {{ "REPORTS.year" | translate }}
          </button>
          <button mdbBtn type="button" (click)="initTab('custom')"
            [color]="activeTab === 'custom' ? 'primary' : 'white'" class="waves-light col-4 col-md-4 col-lg-3 col-xl-2" size="sm" mdbWavesEffect>
            custom
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading$" class="d-flex justify-content-center align-items-center" style="margin-top: 300px">
  <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem">
    <span class="sr-only">{{ "Loading" | translate }}...</span>
  </div>
</div>

<div *ngIf="!isLoading$" class="charts-container pl-5 pr-5 pb-5 d-flex-col-md align-items-center" [ngSwitch]="activeTab">
  <span class="float-left">
    <button mdbBtn type="button" color="primary" (click)="recalc()" [disabled]="recalculating"
    class="waves-light" size="lg" mdbWavesEffect>
    <mdb-icon class="mr-2" fas icon="sync" alt="Left"></mdb-icon>
    {{ "Recalculate" | translate }}
  </button>
  </span>
  <span class="float-right mt-4">
    <app-printer [text]="'Print'" [reports]="response" [type]="'report'" [reportPeriod]="rangeText"></app-printer>
  </span>
  <div *ngSwitchCase="'day'">
    <div class="card-header mb-2 d-flex-center">
      <span class="icon-button" (click)="yesterday()">
        <mdb-icon fas icon="chevron-left" class="mr-3 float-left delete cursor-pointer gray-text" alt="Left"></mdb-icon>
      </span>
      <h2 class="text-xl gray-text">
        {{ todaysDate.format('DD-MMMM-YYYY')  }}
      </h2>
      <span class="icon-button" (click)="tomorrow()">
        <mdb-icon *ngIf="!todaysDate.isSame(customStartDate, 'day')" mdbtn fas icon="chevron-right" class="ml-3 float-right delete cursor-pointer gray-text" alt="Right"></mdb-icon>
      </span>

    </div>
    
    <div class="row mb-3">
      <div class="col-md-12 col-lg-6 mb-2">
        <mdb-card>
          <mdb-card-header [ngClass]="getProfitLoss(pageData.todaysData) < 0 ? 'loss-row' : 'profit-row'">
            {{ todaysDate.format('DD-MMMM-YYYY')  }} 
            {{ (getProfitLoss(pageData.todaysData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
            <span *ngIf="pageData.todaysData" class="price ml-2">&#x20B9;{{ getProfitLoss(pageData.todaysData) }}</span>
          </mdb-card-header>
          <mdb-card-body *ngIf="pageData.todaysData">
            <div class="pl-4">
              <button mdbBtn color="primary" size="sm" (click)="swapPoojasData(pageData.todaysData)">
                {{ "REPORTS.Poojas" | translate }}
              </button>
            </div>
            <app-bar-chart *ngIf="pageData.todaysData.currentOverView ===
              pageData.todaysData.overView; else poojasPieChart" [dataset]="pageData.todaysData.currentOverView.dataSet"
              [labels]="pageData.todaysData.currentOverView.chartLabels"></app-bar-chart>

              <ng-template #poojasPieChart>
                <app-pie-chart [dataset]="pageData.todaysData.currentOverView.dataSet"
                [labels]="pageData.todaysData.currentOverView.chartLabels"></app-pie-chart>
              </ng-template>
          </mdb-card-body>
          <div class="
              p-4
              d-flex
              flex-column
              justify-content-center
              align-items-center
            " *ngIf="!pageData.todaysData">
            <mdb-icon fas icon="times-circle" class="float-right grey-text" alt="no data"></mdb-icon>
            <p class="grey-text">{{ "REPORTS.No_Data_Today" | translate }}</p>
          </div>
        </mdb-card>
      </div>

      <div class="col-md-6 col-lg-6" *ngIf="pageData.todaysData">
        <table class="white text-center z-depth-1" mdbTable>
          <thead class="primary-color text-white">
            
            <tr *ngIf="
                pageData.todaysData.currentOverView ===
                  pageData.todaysData.overView;
                else poojasView
              ">
              <th>{{ "REPORTS.Expense_Type" | translate }}</th>
              <th>{{ "REPORTS.Amount" | translate }}</th>
            </tr>
            <ng-template #poojasView>
              <tr>
                <th>{{ "REPORTS.Pooja_Name" | translate }}</th>
                <th>{{ "REPORTS.Total_Amount_Received" | translate }}</th>
              </tr>
            </ng-template>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="
                let value of pageData.todaysData.currentOverView.dataSet[0]
                  .data;
                let i = index
              " [class.green-row]="true" [class.red-row]="isRed(pageData.todaysData.currentOverView.chartLabels[i])">
              <td>{{ pageData.todaysData.currentOverView.chartLabels[i] }}</td>
              <th scope="row">&#x20B9;{{ value }}</th>
            </tr>
            <tr [ngClass]="getProfitLoss(pageData.todaysData) < 0 ? 'loss-row' : 'profit-row'">
              <td colspan="2">
                {{ todaysDate.format('DD-MMMM-YYYY')  }} {{ "REPORTS.ProfitLoss" | translate }} 
                {{ (getProfitLoss(pageData.todaysData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
                <span class="ml-2">&#x20B9;{{ getProfitLoss(pageData.todaysData) }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- this weeks data -->
  <div *ngSwitchCase="'week'">
    <div class="card-header mb-2 d-flex-center">
      <span class="icon-button" (click)="prevWeek()">
        <mdb-icon fas icon="chevron-left" class="mr-3 float-left delete cursor-pointer gray-text" alt="Left"></mdb-icon>
      </span>
      <h2 class="text-xl gray-text">
        {{ thisWeekStartDate.format('DD-MMMM') + ' TO ' + thisWeekEndDate.format('DD-MMMM')  }}
      </h2>
      <span class="icon-button" (click)="nextWeek()">
        <mdb-icon *ngIf="!todaysDate.isSame(thisWeekStartDate, 'week')" mdbtn fas icon="chevron-right" class="ml-3 float-right delete cursor-pointer gray-text" alt="Right"></mdb-icon>
      </span>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 col-lg-6 mb-2">
        <mdb-card>
          <mdb-card-header [ngClass]="getProfitLoss(pageData.thisWeeksData) < 0 ? 'loss-row' : 'profit-row'">
            {{ "REPORTS.This_Weeks_ProfitLoss" | translate }}
            {{ (getProfitLoss(pageData.thisWeeksData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
            <span class="price ml-2">&#x20B9;{{ getProfitLoss(pageData.thisWeeksData) }}</span>
          </mdb-card-header>
          <mdb-card-body>
            <div class="pl-4">
              <button mdbBtn color="primary" size="sm" (click)="swapPoojasData(pageData.thisWeeksData)">
                {{ "REPORTS.Poojas" | translate }}
              </button>
            </div>
            <app-bar-chart  *ngIf="pageData.thisWeeksData.currentOverView ===
            pageData.thisWeeksData.overView; else poojasPieChart" [dataset]="pageData.thisWeeksData.currentOverView.dataSet"
              [labels]="pageData.thisWeeksData.currentOverView.chartLabels"></app-bar-chart>
              <ng-template #poojasPieChart>
                <app-pie-chart [dataset]="pageData.thisWeeksData.currentOverView.dataSet"
                [labels]="pageData.thisWeeksData.currentOverView.chartLabels"></app-pie-chart>
              </ng-template>
            <br /><br />
            <app-bar-chart [dataset]="pageData.thisWeeksData.weeklyOverView.dataSet"
              [labels]="pageData.thisWeeksData.weeklyOverView.chartLabels"></app-bar-chart>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-md-6 col-lg-6" *ngIf="pageData.thisWeeksData">
        <table class="white text-center z-depth-1" mdbTable>
          <thead class="primary-color text-white">
           
            <tr *ngIf="
                pageData.thisWeeksData.currentOverView ===
                  pageData.thisWeeksData.overView;
                else poojasView
              ">
              <th>{{ "REPORTS.Expense_Type" | translate }}</th>
              <th>{{ "REPORTS.Amount" | translate }}</th>
            </tr>
            <ng-template #poojasView>
              <tr>
                <th>{{ "REPORTS.Pooja_Name" | translate }}</th>
                <th>{{ "REPORTS.Total_Amount_Received" | translate }}</th>
              </tr>
            </ng-template>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="
                let value of pageData.thisWeeksData.currentOverView.dataSet[0]
                  .data;
                let i = index
              " [class.green-row]="true" [class.red-row]="isRed(pageData.todaysData.currentOverView.chartLabels[i])">
              <td>
                {{ pageData.thisWeeksData.currentOverView.chartLabels[i] }}
              </td>
              <th scope="row">&#x20B9;{{ value }}</th>
            </tr>
            <tr [ngClass]="getProfitLoss(pageData.thisWeeksData) < 0 ? 'loss-row' : 'profit-row'">
              <td colspan="2">
                {{ "REPORTS.This_Weeks_ProfitLoss" | translate }}
                {{ (getProfitLoss(pageData.thisWeeksData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
                <span class="ml-2">&#x20B9;{{ getProfitLoss(pageData.thisWeeksData) }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- this weeks data ends here-->

  <!-- this Months data -->
  <div *ngSwitchCase="'month'">
    <div class="card-header mb-2 d-flex-center">
      <span class="icon-button" (click)="prevMonth()">
        <mdb-icon fas icon="chevron-left" class="mr-3 float-left delete cursor-pointer gray-text" alt="Left"></mdb-icon>
      </span>
      <h2 class="text-xl gray-text">
        {{ monthDate.format('MMMM YYYY')  }}
      </h2>
      <span class="icon-button" (click)="nextMonth()">
        <mdb-icon *ngIf="!todaysDate.isSame(monthDate, 'month')" mdbtn fas icon="chevron-right" class="ml-3 float-right delete cursor-pointer gray-text" alt="Right"></mdb-icon>
      </span>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 col-lg-6 mb-4">
        <mdb-card>
          <mdb-card-header [ngClass]="getProfitLoss(pageData.thisMonthsData) < 0 ? 'loss-row' : 'profit-row'">
            {{ monthDate.format('MMMM YYYY')  }} 
            {{ (getProfitLoss(pageData.thisMonthsData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
            <span class="price ml-2">&#x20B9;{{ getProfitLoss(pageData.thisMonthsData) }}</span>
          </mdb-card-header>
          <mdb-card-body>
            <div class="pl-4">
              <button mdbBtn color="primary" size="sm" (click)="swapPoojasData(pageData.thisMonthsData)">
                Poojas
              </button>
            </div>
            <app-bar-chart *ngIf="pageData.thisMonthsData.currentOverView ===
            pageData.thisMonthsData.overView; else poojasPieChart" [dataset]="pageData.thisMonthsData.currentOverView.dataSet"
              [labels]="pageData.thisMonthsData.currentOverView.chartLabels"></app-bar-chart>

              <ng-template #poojasPieChart>
                <app-pie-chart [dataset]="pageData.thisMonthsData.currentOverView.dataSet"
                [labels]="pageData.thisMonthsData.currentOverView.chartLabels"></app-pie-chart>
              </ng-template>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-md-6 col-lg-6" *ngIf="pageData.thisMonthsData">
        <table class="white text-center z-depth-1" mdbTable>
          <thead class="primary-color text-white">
            <tr *ngIf="
                pageData.thisMonthsData.currentOverView ===
                  pageData.thisMonthsData.overView;
                else poojasView
              ">

              <th>{{ "REPORTS.Expense_Type" | translate }}</th>
              <th>{{ "REPORTS.Amount" | translate }}</th>
            </tr>
            <ng-template #poojasView>
              <tr>
                <th>{{ "REPORTS.Pooja_Name" | translate }}</th>
                <th>{{ "REPORTS.Total_Amount_Received" | translate }}</th>
              </tr>
            </ng-template>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="
                let value of pageData.thisMonthsData.currentOverView.dataSet[0]
                  .data;
                let i = index
              " [class.green-row]="true" [class.red-row]="isRed(pageData.todaysData.currentOverView.chartLabels[i])">
              <td>
                {{ pageData.thisMonthsData.currentOverView.chartLabels[i] }}
              </td>
              <th scope="row">&#x20B9;{{ value }}</th>
            </tr>
            <tr [ngClass]="getProfitLoss(pageData.thisMonthsData) < 0 ? 'loss-row' : 'profit-row'">
              <td colspan="2">
                {{ monthDate.format('MMMM YYYY')  }} {{ "REPORTS.ProfitLoss" | translate }}
                {{ (getProfitLoss(pageData.thisMonthsData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
                <span class="ml-2">&#x20B9;{{ getProfitLoss(pageData.thisMonthsData) }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12" *ngIf="pageData.thisMonthsData">
        <mdb-card>
          <mdb-card-body>
            <app-line-chart [dataset]="pageData.thisMonthsData.monthlyOverView.dataSet"
              [labels]="pageData.thisMonthsData.monthlyOverView.chartLabels"></app-line-chart>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>
  </div>
  <!-- this Months data ends here-->

  <!-- this Year data -->
  <div *ngSwitchCase="'year'">
    <div class="card-header mb-2 d-flex-center">
      <span class="icon-button" (click)="prevYear()">
        <mdb-icon fas icon="chevron-left" class="mr-3 float-left delete cursor-pointer gray-text" alt="Left"></mdb-icon>
      </span>
      <h2 class="text-xl gray-text">
        {{ yearDate.format('YYYY') }}
      </h2>
      <span class="icon-button" (click)="nextYear()">
        <mdb-icon *ngIf="yearDate.format('YYYY')!==todaysDate.format('YYYY')" mdbtn fas icon="chevron-right" class="ml-3 float-right delete cursor-pointer gray-text" alt="Right"></mdb-icon>
      </span>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 col-lg-6 mb-4">
        <mdb-card>
          <mdb-card-header [ngClass]="getProfitLoss(pageData.thisYearsData) < 0 ? 'loss-row' : 'profit-row'">
            {{ yearDate.format('YYYY') }} 
            {{ (getProfitLoss(pageData.thisYearsData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
            <span class="price ml-2">&#x20B9;{{ getProfitLoss(pageData.thisYearsData) }}</span>
          </mdb-card-header>
          <mdb-card-body>
            <div class="pl-4">
              <button mdbBtn color="primary" size="sm" (click)="swapPoojasData(pageData.thisYearsData)">
                {{ "REPORTS.Poojas}" | translate }}
              </button>
            </div>
            <app-bar-chart *ngIf="pageData.thisYearsData.currentOverView ===
            pageData.thisYearsData.overView; else poojasPieChart" [dataset]="pageData.thisYearsData.currentOverView.dataSet"
              [labels]="pageData.thisYearsData.currentOverView.chartLabels"></app-bar-chart>

                <ng-template #poojasPieChart>
                  <app-pie-chart [dataset]="pageData.thisYearsData.currentOverView.dataSet"
                  [labels]="pageData.thisYearsData.currentOverView.chartLabels"></app-pie-chart>
                </ng-template>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-md-6 col-lg-6" *ngIf="pageData.thisYearsData">
        <table class="white text-center z-depth-1" mdbTable>
          <thead class="primary-color text-white">
            
            <tr *ngIf="
                pageData.thisYearsData.currentOverView ===
                  pageData.thisYearsData.overView;
                else poojasView
              ">
              <th>{{ "REPORTS.Expense_Type" | translate }}</th>
              <th>{{ "REPORTS.Amount" | translate }}</th>
            </tr>
            <ng-template #poojasView>
              <tr>
                <th>{{ "REPORTS.Pooja_Name" | translate }}</th>
                <th>{{ "REPORTS.Total_Amount_Received" | translate }}</th>
              </tr>
            </ng-template>
            
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="
                let value of pageData.thisYearsData.currentOverView.dataSet[0]
                  .data;
                let i = index
              " [class.green-row]="true" [class.red-row]="isRed(pageData.todaysData.currentOverView.chartLabels[i])">
              <td>
                {{ pageData.thisYearsData.currentOverView.chartLabels[i] }}
              </td>
              <th scope="row">&#x20B9;{{ value }}</th>
            </tr>
            <tr [ngClass]="getProfitLoss(pageData.thisYearsData) < 0 ? 'loss-row' : 'profit-row'">
              <td colspan="2">
                {{ yearDate.format('YYYY') }} {{ "REPORTS.ProfitLoss" | translate }}
                {{ (getProfitLoss(pageData.thisYearsData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
                
                <span class="ml-2">&#x20B9;{{ getProfitLoss(pageData.thisYearsData) }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12" *ngIf="pageData.thisYearsData">
        <mdb-card>
          <mdb-card-body>
            <app-line-chart [dataset]="pageData.thisYearsData.yearlyOverView.dataSet"
              [labels]="pageData.thisYearsData.yearlyOverView.chartLabels"></app-line-chart>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>
  </div>
  <!-- this Years data ends here-->



  <!-- custom data -->
  <div *ngSwitchCase="'custom'">
    <div class="row mb-2 text-center d-flex justify-content-center align-items-center">
      <button mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="customStartDate" [startDate]="datePickerStartDate" [endDate]="todaysDate"
      header="Select Start Date" (dateSelected)="selectCustomStartDate($event)">
        <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> 
        <span appDateTransform [date]="customStartDate.format('YYYY-MM-DD')"></span>
      </button> TO
      <button mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="customEndDate" [startDate]="customStartDate" [endDate]="todaysDate"
        header="Select End Date" (dateSelected)="selectCustomEndDate($event)">
          <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> 
          <span appDateTransform [date]="customEndDate.format('YYYY-MM-DD')"></span>
        </button>

        <button type="button" mdbBtn color="success"  class="relative waves-light" mdbWavesEffect (click)="getCustomData()">
          {{ "REPORTS.GetData" | translate }} 
        </button>
    </div>
    <div class="row my-3">
      <div class="col-md-12 col-lg-6 mb-4">
        <mdb-card>
          <mdb-card-header [ngClass]="getProfitLoss(pageData.thisYearsData) < 0 ? 'loss-row' : 'profit-row'">
            {{ "REPORTS.This_Periods_ProfitLoss" | translate }}
            {{ (getProfitLoss(pageData.thisYearsData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}
            <span class="price ml-2">&#x20B9;{{ getProfitLoss(pageData.thisYearsData) }}</span>
          </mdb-card-header>
          <mdb-card-body>
            <div class="pl-4">
              <button mdbBtn color="primary" size="sm" (click)="swapPoojasData(pageData.thisYearsData)">
                {{ "REPORTS.Poojas" | translate }}
              </button>
            </div>
            <app-bar-chart [dataset]="pageData.thisYearsData.currentOverView.dataSet"
              [labels]="pageData.thisYearsData.currentOverView.chartLabels"></app-bar-chart>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-md-6 col-lg-6" *ngIf="pageData.thisYearsData">
        <table class="white text-center z-depth-1" mdbTable>
          <thead class="primary-color text-white">
            
            <tr *ngIf="
                pageData.thisYearsData.currentOverView ===
                  pageData.thisYearsData.overView;
                else poojasView
              ">
              <th>{{ "REPORTS.Expense_Type" | translate }}</th>
              <th>{{ "REPORTS.Amount" | translate }}</th>
            </tr>
            <ng-template #poojasView>
              <tr>
                <th>{{ "REPORTS.Pooja_Name" | translate }}</th>
                <th>{{ "REPORTS.Total_Amount_Received" | translate }}</th>
              </tr>
            </ng-template>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="
                let value of pageData.thisYearsData.currentOverView.dataSet[0]
                  .data;
                let i = index
              " [class.green-row]="true" [class.red-row]="isRed(pageData.todaysData.currentOverView.chartLabels[i])">
              <td>
                {{ pageData.thisYearsData.currentOverView.chartLabels[i] }}
              </td>
              <th scope="row">&#x20B9;{{ value }}</th>
            </tr>
            <tr [ngClass]="getProfitLoss(pageData.thisYearsData) < 0 ? 'loss-row' : 'profit-row'">
              <td colspan="2">
                {{ "REPORTS.This_Periods_ProfitLoss" | translate }}
                {{ (getProfitLoss(pageData.thisYearsData) < 0 ? "REPORTS.Loss" : "REPORTS.Profit") | translate }}

                <span class="ml-2">&#x20B9;{{ getProfitLoss(pageData.thisYearsData) }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-12" *ngIf="pageData.thisYearsData">
        <mdb-card>
          <mdb-card-body>
            <app-line-chart [dataset]="pageData.thisYearsData.yearlyOverView.dataSet"
              [labels]="pageData.thisYearsData.yearlyOverView.chartLabels"></app-line-chart>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>
  </div>
  <!-- custom data ends here-->

  <!-- 
    <div class="col-md-6">
      <mdb-card>
        <mdb-card-body>
          <app-pie-chart [dataset]="barChartDataset" [labels]="barChartLabels"></app-pie-chart>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6 mb-3">
      <mdb-card>
        <mdb-card-body>
          <app-bar-chart [dataset]="barChartDataset" [labels]="barChartLabels"></app-bar-chart>
        </mdb-card-body>
      </mdb-card>
    </div>

    <div class="col-md-6 mb-3">
      <mdb-card>
        <mdb-card-body>
          <app-doughnut-chart [dataset]="barChartDataset" [labels]="barChartLabels"></app-doughnut-chart>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div> -->
</div>