.nav-item a {
  color: white;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-nav {
  align-items: center;
}

.nav-link.active {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

.logout-button {
  display: none;
}

.avatar-dropdown {
  display: block;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-item a {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 992px) {
  .avatar-dropdown {
    display: none;
  }

  .logout-button {
    display: block;
  }
}