.temples-list {
  box-sizing: border-box;
  justify-content: center;
  user-select: none;

  mdb-card {
    min-width: 50%;
    mdb-card-body {
      overflow: auto;
    }
  }
}

.temple {
  width: 80%;
  margin: 1rem;

  .add-card {
    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
  }
}

.add {
  height: 40px;
}

input[type=file]{
  display: none;
}

.thumbnail {
  height: 45px;
}

.ellipsis {
  max-width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;;
}