<div class="temples-list d-flex flex-wrap my-4" ngif="temples?.length > 0">
  <mdb-card>
    <mdb-card-header class="text-left bg-primary white-text w-100">
      <blockquote class="blockquote bq-success">
        <h3 class="header">Temples List</h3>
        <p class="py-0">Add or remove temples (for Admin)</p>
      </blockquote>
    </mdb-card-header>
    <mdb-card-body class="py-2">
      <form #templeForm="ngForm">
      <table mdbTable striped="true">
          <thead>
            <tr>
              <th>Temple Name</th>
              <th>Code</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>Logo</th>
              <th>Icon</th>
              <th>Manthram</th>
              <th *ngIf="isAdmin">Added By</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of temples">
              <td scope="row">{{ item.temple_name }}</td>
              <td>{{ item.temple_code }}</td>
              <td>{{ item.temple_email }}</td>
              <td>{{ item.phone_number }}</td>
              <td>{{ item.temple_address }}</td>
              <td>{{ item.logo }}</td>
              <td>{{ item.icon }}</td>
              <td>{{ item.misc?.manthram }}</td>

              <td *ngIf="isAdmin">{{ item.added_by }}</td>
            </tr>
            <tr class="bg-white" *ngIf="!(isLoading$ | async)">
              <td>
                <div class="md-form">
                  <input type="text" id="add_temple_temple_name" name="temple_name" class="form-control" #temple_name="ngModel"
                    [(ngModel)]="newTemple.temple_name" mdbInput mdbValidate [validateSuccess]="false" required>
                  <label for="temple_name">Temple Name</label>
                  <mdb-error *ngIf="temple_name && temple_name.invalid && (temple_name.dirty || temple_name.touched)">Temple
                    name is required</mdb-error>
                </div>
              </td>
              <td>
                <div class="md-form">
                  <input type="text" id="add_temple_temple_code" name="temple_code" class="form-control" #temple_code="ngModel"
                    [(ngModel)]="newTemple.temple_code" mdbInput mdbValidate [validateSuccess]="false" required>
                  <label for="temple_code">Temple Code</label>
                  <mdb-error *ngIf="temple_code && temple_code.invalid && (temple_code.dirty || temple_code.touched)">Temple
                    Code is required</mdb-error>
                </div>
              </td>
              <td>
                <div class="md-form">
                  <input type="text" id="add_temple_email" name="temple_email" class="form-control" #temple_email="ngModel"
                    [(ngModel)]="newTemple.temple_email" mdbInput mdbValidate [validateSuccess]="false" required>
                  <label for="temple_email">Email</label>
                  <mdb-error *ngIf="temple_email && temple_email.invalid && (temple_email.dirty || temple_email.touched)">Email is required
                  </mdb-error>
                </div>
              </td>


              <td>
                <div class="md-form">
                  <input type="text" id="add_phone_number" name="phone_number" class="form-control" #phone_number="ngModel"
                    [(ngModel)]="newTemple.phone_number" mdbInput mdbValidate [validateSuccess]="false" required>
                  <label for="phone_number">Phone Number</label>
                  <mdb-error *ngIf="phone_number && phone_number.invalid && (phone_number.dirty || phone_number.touched)">Phone is required
                  </mdb-error>
                </div>
              </td>

              <td>
                <div class="md-form" style="margin-top: 15px;">
                  <textarea type="text" id="add_temple_address" name="temple_address" class="my-0 py-0 md-textarea form-control"
                    #temple_address="ngModel" [(ngModel)]="newTemple.temple_address" mdbInput mdbValidate required
                    [validateSuccess]="false"></textarea>
                  <label for="temple_address">Address</label>
                  <!-- <mdb-error *ngIf="address && address.invalid && (address.dirty || address.touched)">Address is required</mdb-error> -->
                </div>
                <!-- <a class="btn btn-primary btn-floating" (click)="onAddTemple()" style="background-color: #3b5998; height: 45px" href="javascript:void(0)" role="button"
                    >
                    Add
                  </a> -->
              </td>


              <td>
                <div class="">
                  <div class="d-flex-center">
                    <button mdbBtn class="mt-4 btn btn-floating add"
                      (click)="logoButton.click()" size="sm" color="primary" outline="true" mdbWavesEffect>
                      <mdb-icon fas icon="plus" class=""></mdb-icon> <span class="pl-2">Logo</span>
                    </button>
                    <span>{{selectedLogo}}</span>
                  </div>
                  <input #logoButton type="file" id="add_logo" name="logo" class="form-control" #logo="ngModel"
                    [(ngModel)]="newTemple.logo" mdbInput mdbValidate [validateSuccess]="false" required (change)="logoChanged($event)">
                  <mdb-error *ngIf="logo && logo.invalid && (logo.dirty || logo.touched)">Logo is required
                  </mdb-error>
                </div>
              </td>


              <td>
                <div class="">
                  <div class="d-flex-center">
                    <button mdbBtn class="mt-4 btn btn-floating add"
                      (click)="iconButton.click()" size="sm" color="primary" outline="true" mdbWavesEffect>
                      <mdb-icon fas icon="plus" class=""></mdb-icon> <span class="pl-2">Icon</span>
                    </button>
                    <span>{{selectedIcon}}</span>
                  </div>
                  <input #iconButton type="file" id="add_icon" name="icon" class="form-control" #icon="ngModel"
                    [(ngModel)]="newTemple.icon" mdbInput mdbValidate [validateSuccess]="false" required (change)="iconChanged($event)">
                 
                  <mdb-error *ngIf="icon && icon.invalid && (icon.dirty || icon.touched)">Icon is required
                  </mdb-error>
                </div>
              </td>


              <td>
                <div class="md-form">
                  <input type="text" id="add_misc" name="misc" class="form-control" #misc="ngModel"
                    [(ngModel)]="newTemple.misc" mdbInput mdbValidate [validateSuccess]="false">
                  <label for="misc">Misc</label>
                  <!-- <mdb-error *ngIf="misc && misc.invalid && (misc.dirty || misc.touched)">Misc -->
                  <!-- </mdb-error> -->
                </div>
              </td>

              <!-- 2more items are available -
              # color_scheme
              # misc -- already added above -->

              <td>
                <button mdbBtn [disabled]="templeForm?.invalid || loadingAddTemple" class="mt-4 btn btn-floating add"
                  (click)="onAddTemple()" size="sm" gradient="purple" mdbWavesEffect>
                  <mdb-icon fas icon="plus" class="white-text"></mdb-icon> <span class="pl-2 white-text">Add</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center my-4">
        <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </form>
      </mdb-card-body>
  </mdb-card>