<!-- <rr-tabs> -->
  <!-- <rr-tab tabTitle="Poojas"> -->
    <app-split-body [isLoading$]="isLoading$">
      <div class="left-section">
        <div class="w-100 bg-white">
          <form class="form-inline md-form form-sm d-flex-center my-2" >
            <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
            <input id="search" name="search" (keyup)="searchPoojaType($event)"
             class="form-control form-control-sm ml-3" type="text" [placeholder]="searchPlaceHolder" aria-label="Search"
              mdbInput>
          </form>          
        </div>
        <a [@enterAnimation] href="javascript:void(0)" role="button" class="p-4 m-1 btn btn-primary pooja-box" mdbWavesEffect *ngFor="let item of poojaTypes" (click)="newPooja(item)">
          <h5><b>{{item.pooja_name}}</b></h5>
          <p class="whitesmoke-text">{{item.pooja_description}}</p>
          <h3 class="price">&#x20B9;{{ item.pooja_price }}</h3>
        </a>

        <ul class="left-section-mobile list-group w-100">
          <li *ngFor="let item of poojaTypes" (click)="newPooja(item)" [@enterAnimation]
           class="bg-primary white-text list-group-item d-flex justify-content-between align-items-center">
           <div class="d-flex flex-column">
             <span class="name">{{item.pooja_name}}</span>
             <span class="description">{{item.pooja_description}}</span>
           </div>
            <mdb-badge pill="true" class="price mini" color="white">&#x20B9;{{ item.pooja_price }}</mdb-badge>
          </li>
        </ul>
      </div>
      <div class="right-section pb-4">
        <app-right-card>
          <div class="card-header bg-primary white-text">{{ "POOJAS.Todays_Poojas" | translate }} ({{dates?.today}}) <mdb-badge class="count" color="yellow" *ngIf="poojaList?.length > 0"> {{poojaList.length}}</mdb-badge></div>
          <div *ngIf="isListLoading$ | async" class="d-flex justify-content-center align-items-center my-4">
            <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
              <span class="sr-only">{{ "Loading" | translate }}...</span>
            </div>
          </div>
          <div class="cd-body">

          <table mdbTable small="true" *ngIf="!(isListLoading$ | async) && poojaList.length > 0">
            <thead>
              <tr>
                <th>{{ "POOJAS.Name" | translate }}</th>
                <th>{{ "POOJAS.Nakshathram" | translate }}</th>
                <th>{{ "POOJAS.Print" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let poojasByReceiptNumber of groupedPoojaList; let in = index;">
                <tr *ngIf="poojasByReceiptNumber.poojas.length" class="separator">
                  <td colspan="4">
                    <b>Receipt# {{poojasByReceiptNumber.receipt_number}} - &#x20B9;{{ getTotalReceiptAmount(poojasByReceiptNumber.poojas) }}</b> 
                    <span class="float-right">{{ getPoojaNameFromCode(poojasByReceiptNumber?.poojas[0].pooja_code)  }}</span>
                  </td>
                </tr>
                <tr *ngFor="let item of poojasByReceiptNumber.poojas; let i = index;">
                  <td scope="row">{{i+1}} - {{ item.name }}</td>
                  <td>{{ item.nakshatram }} 
                    <mdb-icon fas icon="trash" class="float-right delete grey-text ml-2" (click)="onDeletePooja(item)" alt="Delete Pooja"></mdb-icon>
                  </td>
                  <td class="va-middle" *ngIf="i === 0" [attr.rowSpan]="poojasByReceiptNumber.poojas.length"><app-printer [type]="'pooja'" [poojas]="poojasByReceiptNumber.poojas"></app-printer> </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          </div>
          <div class="p-4 d-flex flex-column justify-content-center align-items-center" *ngIf="!(isListLoading$ | async) && poojaList?.length === 0">
            <mdb-icon fas icon="exclamation-circle" class="float-right grey-text" alt="no data"></mdb-icon>
              <p class="grey-text">{{"POOJAS.No_Poojas" | translate}}</p>
          </div>
          <div role="footer" *ngIf="!(isLoading$ | async)">
            <div class="card-footer text-muted">
              {{"Total" | translate}}: <b class="price total-amount">&#x20B9;{{getTotalAmount(groupedPoojaList)}}</b>
            </div>
          </div>
        </app-right-card>

        <app-right-card *ngIf="tomorrowsPoojaList?.length > 0">
          <div class="card-header bg-secondary white-text">{{ "POOJAS.Tomorrows_Poojas" | translate }} ({{this.dates?.tomorrow}}) <mdb-badge class="count" color="yellow" *ngIf="tomorrowsPoojaList?.length > 0"> {{tomorrowsPoojaList?.length}}</mdb-badge></div>
          <div *ngIf="isListLoading$ | async" class="d-flex justify-content-center align-items-center my-4">
            <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
              <span class="sr-only">{{ "Loading" | translate }}...</span>
            </div>
          </div>
          <div class="cd-body">
            <table mdbTable small="true" striped="true" *ngIf="!(isListLoading$ | async) && tomorrowsPoojaList.length > 0">
              <thead>
                <tr>
                  <th>{{ "POOJAS.Name" | translate }}</th>
                  <th>{{ "POOJAS.Nakshathram" | translate }}</th>
                  <th>{{ "POOJAS.Print" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let poojasByReceiptNumber of groupedTomorrowsPoojaList; let in = index;">
                  <tr class="separator">
                    <td colspan="3">
                      <b>{{ "POOJAS.Receipt" | translate }}# {{poojasByReceiptNumber.receipt_number}}</b> 
                      <span class="float-right">{{ getPoojaNameFromCode(poojasByReceiptNumber?.poojas[0].pooja_code)  }}</span>
                    </td>
                  </tr>
                  <tr *ngFor="let item of poojasByReceiptNumber.poojas; let i = index;">
                    <td scope="row">{{i+1}} - {{ item.name }}</td>
                    <td>{{ item.nakshatram }}
                      <mdb-icon fas icon="trash" class="float-right delete grey-text ml-2" (click)="onDeletePooja(item)" alt="Delete Pooja"></mdb-icon>
                    </td>
                    <td class="va-middle" *ngIf="i === 0" [attr.rowSpan]="poojasByReceiptNumber.poojas.length"><app-printer [type]="'pooja'" [poojas]="poojasByReceiptNumber.poojas"></app-printer> </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <div class="p-4 d-flex flex-column justify-content-center align-items-center" *ngIf="!(isListLoading$ | async) && tomorrowsPoojaList?.length === 0">
            <mdb-icon fas icon="exclamation-circle" class="float-right grey-text" alt="no data"></mdb-icon>
              <p class="grey-text">{{"POOJAS.No_Poojas_tomorrow" | translate}}</p>
          </div>
          <div role="footer" *ngIf="!(isLoading$ | async)">
            <div class="card-footer text-muted">
              {{"Total" | translate}}: <b class="price total-amount">&#x20B9;{{getTotalAmount(groupedTomorrowsPoojaList)}}</b>
            </div>
          </div>
        </app-right-card>
        <br>
        <header><b>{{"POOJAS.Poojas_by_date" | translate}}</b></header>
        <hr>
        <app-right-card *ngIf="(isManager$ | async)">
          <div class="card-header bg-primary white-text ">
            <span class="icon-button" (click)="prevDate()">
              <mdb-icon *ngIf="isManager$ | async" fas icon="chevron-left" class="ml-1 float-left delete cursor-pointer white-text" alt="Left"></mdb-icon>
            </span>
            <span>
              {{"POOJAS.Poojas_on" | translate}} 
              <button mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="selectedDate" [endDate]="endDate" [startDate]="startDate"
               header="Select Date" (dateSelected)="datePicked($event)">
                <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> <span appDateTransform [date]="selectedDate.format('YYYY-MM-DD')"></span>
              </button>
              <mdb-badge *ngIf="allPoojasList?.length > 0" color="yellow" class="count"> {{allPoojasList?.length}}</mdb-badge>
            </span>
            <span class="icon-button" (click)="nextDate()">
              <mdb-icon *ngIf="(isManager$ | async) && selectedDate.format('DD/MM/YYYY') !== endDate.format('DD/MM/YYYY')" mdbtn fas icon="chevron-right" class="ml-1 float-right delete cursor-pointer white-text" alt="Right"></mdb-icon>
            </span>
          </div>
          <div *ngIf="allPoojasLoading" class="d-flex justify-content-center align-items-center">
            <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
              <span class="sr-only">{{ "Loading" | translate }}...</span>
            </div>
          </div>
          <div class="cd-body">

          <table mdbTable small="true" *ngIf="!allPoojasLoading && allPoojasList?.length !== 0">
            <thead>
              <tr>
                <th>{{ "POOJAS.Name" | translate }}</th>
                <th>{{ "POOJAS.Nakshathram" | translate }}</th>
                <th>{{ "POOJAS.Print" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let poojasByReceiptNumber of groupedAllPoojasList; let in = index;">
                <tr class="separator">
                  <td colspan="3">
                    <b>{{"POOJAS.Receipt" | translate}} {{poojasByReceiptNumber.receipt_number}}</b> 
                    <span class="float-right">{{ getPoojaNameFromCode(poojasByReceiptNumber?.poojas[0].pooja_code)  }}</span>
                  </td>
                </tr>
                <tr *ngFor="let item of poojasByReceiptNumber.poojas; let i = index;">
                  <td scope="row">{{i+1}} - {{ item.name }}</td>
                  <td>{{ item.nakshatram }}
                    <mdb-icon fas icon="trash" class="float-right delete grey-text ml-2" (click)="onDeletePooja(item)" alt="Delete Pooja"></mdb-icon>
                  </td>
                  <td class="va-middle" *ngIf="i === 0" [attr.rowSpan]="poojasByReceiptNumber.poojas.length"><app-printer [type]="'pooja'" [poojas]="poojasByReceiptNumber.poojas"></app-printer> </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          </div>
          <div class="p-4 d-flex flex-column justify-content-center align-items-center" *ngIf="!allPoojasLoading && allPoojasList?.length === 0">
            <mdb-icon fas icon="exclamation-circle" class="float-right grey-text" alt="no data"></mdb-icon>
              <p class="grey-text">{{"POOJAS.No_Poojas_on" | translate}} {{selectedDate.format('MMM Do')}} </p>
          </div>
          <div role="footer" *ngIf="!(isLoading$ | async)">
            <div class="card-footer text-muted">
              {{"Total" | translate}}: <b class="price total-amount">&#x20B9;{{getTotalAmount(groupedAllPoojasList)}}</b>
            </div>
          </div>
        </app-right-card>
       
        <!-- <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center" style="margin-top: 200px">
          <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
            <span class="sr-only">{{ "Loading" | translate }}...</span>
          </div>
        </div> -->
      </div>
    </app-split-body>
    <app-printer #appPrinter [hidden]="true"></app-printer>

<!--     
  </rr-tab>
  <rr-tab tabTitle="Bookings">
    Tab 2 content
  </rr-tab>
</rr-tabs> -->
