.left-section {
  a.pooja-box {
    display: inline-block;
    height: 150px;
    width: auto;
    max-width: 300px;
    color: white;
  }
  .left-section-mobile {
    display: none;
    li {
      margin-bottom: 3px;
    }
    li:nth-child(even) {
      background-color: #2c79ef!important;
    }
    .name {
      font-weight: bold;
    }
    .description {
      font-size: small;
      display: block;
    }
  }

  @media only screen and (max-width: 768px) {
    a.pooja-box {
      display: none;
    }
    .left-section-mobile {
      display: inline-block;
    }

  }

  >:nth-child(even) {
    background-color: #2196f3 !important;
  }
  >:nth-child(odd) {
    background-color: #2196f3 !important;
  }

  .price {
    color: #ffeb3b;
  }
}

.right-section {
  table {
    text-align: left;
    tr {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .left-section {
    a.pooja-box {
      height: auto;
      width: auto;
    }
  }
}

.whitesmoke-text {
  color: whitesmoke;
  text-transform: none;
}

.justify-space-between {
  justify-content: space-between;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 