.left-section {
  a.pooja-box {
    display: inline-block;
    height: 150px;
    width: auto;
    max-width: 300px;
    color: white;
  }

  >:nth-child(even) {
    background-color: #2196f3 !important;
  }
  >:nth-child(odd) {
    background-color: #2196f3 !important;
  }

  .price {
    color: #ffeb3b;
  }
}

.right-section {
  table {
    text-align: left;
    tr {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .left-section {
    a.pooja-box {
      height: auto;
      width: auto;
    }
  }
}

.whitesmoke-text {
  color: whitesmoke;
  text-transform: none;
}