.modal-content {
    max-height: 90vh;
}
.star-container {

    .hidden {
        display: none;
    }
    .btn-group {
        display: inline-block;
        button {
            padding: 10px;
            font-weight: bold;
            color: black;
        }

        button.selected {
            background-color: forestgreen!important;
            border: 1px solid forestgreen!important;
            color: white;
            font-weight: 900;
            font-size: 19px;
            padding: 10px;
        }
    }
}

#address {
    min-height: 40px;
}

.modal-title {
    text-transform: uppercase;
}

.modal-body {
    overflow: auto;
    display: flex;
    max-height: 65vh;
  
    .left-section {
        width: 50%;
    }
    .right-section {
        width: 50%;
        padding: 10px 20px;
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        .left-section {
            width: 100%;
        }
        .right-section {
            width: 100%;
         }
    }

    
}
@media only screen and (max-height: 500px) {
    .modal-body {
        max-height: 45vh !important;
    }
}
@media only screen and (max-width: 700px) {
    .hide-sm {
        display: none;
    }
}

.modal-footer {
    justify-content: space-between;
}

.phone {
    margin: 0;
}

.delete {
    cursor: pointer;
}
.datepicker {
    // position: absolute;
    // right: 20px;
    display: flex;
    justify-content: space-between;
    button {
        font-size: large;
    }
}

.bhakthar-table {
    text-align: left;
}