<mdb-card>
  <mdb-card-header class="text-center bg-primary white-text">
    {{ user?.temple }}
    VKSR Temple
  </mdb-card-header>
  <mdb-card-body class="text-center py-2">
    <div>
      <span class="float-left">
        <mdb-badge *ngIf="user.role" [color]="getColor(user.role)">{{ user.role }}</mdb-badge>
      </span>
      <mdb-icon fas icon="trash" class="float-right delete grey-text" (click)="deleteUser()" alt="Delete user"></mdb-icon>
    </div>
    <div class="mt-5">
      <img *ngIf="user.avatar" src="{{ user.avatar }}" height="90" width="90" class="rounded-circle z-depth-0" alt="avatar image">
    </div>
    <div class="mt-3">
      {{ user.first_name }} {{ user.last_name }}
    </div>
    <p class="grey-text small">{{user.email}}</p>
  </mdb-card-body>
</mdb-card>
