<div class="poojas-list d-flex flex-wrap m-4">
      <mdb-card>
        <mdb-card-header class="text-left bg-primary white-text w-100">
          <blockquote class="blockquote bq-success">
            <h3 class="header">Poojas List</h3>
            <p class="py-0">Change pooja settings of your temple</p>
          </blockquote>
        </mdb-card-header>
        <mdb-card-body class="py-2">
          <form #poojasForm="ngForm" *ngIf="!(isLoading$ | async)">
          <table mdbTable striped="true">
            <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
                <th>Added By</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of poojas">
                <td scope="row">{{ item.pooja_name }}</td>
                <td>{{ item.pooja_code }}</td>
                <td>{{ item.pooja_description }}</td>
                <td class="text-warning"><b>&#x20B9;{{ item.pooja_price }}</b></td>
                <td>{{ item.added_by }}</td>
              </tr>
              <tr class="bg-white">
                <td>
                  <div class="md-form">
                    <input type="text" id="add_pooja_name" name="pooja_name" class="form-control" 
                    #pooja_name="ngModel" [(ngModel)]="newPooja.pooja_name" mdbInput mdbValidate
                      [validateSuccess]="false" required (change)="newPooja.pooja_code = generateCode(newPooja.pooja_name)">
                    <label for="pooja_name">Name</label>
                    <mdb-error *ngIf="pooja_name && pooja_name.invalid && (pooja_name.dirty || pooja_name.touched)">Name is required</mdb-error>
                  </div>
                </td>
                <td>
                  <div class="md-form">
                    <input type="text" id="add_pooja_code" name="pooja_code" class="form-control" 
                    #pooja_code="ngModel" [(ngModel)]="newPooja.pooja_code" mdbInput mdbValidate disabled
                      [validateSuccess]="false" required>
                    <label for="pooja_code">Code</label>
                    <mdb-error *ngIf="pooja_code && pooja_code.invalid && (pooja_code.dirty || pooja_code.touched)">Code is required</mdb-error>
                  </div>
                </td>
                <td >
                  <div class="md-form  mt-3 ">
                    <textarea type="text" id="add_pooja_description" name="pooja_description" class="my-0 py-0 md-textarea form-control" 
                    #pooja_description="ngModel" [(ngModel)]="newPooja.pooja_description" mdbInput mdbValidate
                      [validateSuccess]="false" required></textarea>
                    <label for="pooja_description">Description</label>
                    <mdb-error *ngIf="pooja_description && pooja_description.invalid && (pooja_description.dirty || pooja_description.touched)">Description is required</mdb-error>
                  </div>
                 
                  <!-- <a class="btn btn-primary btn-floating" (click)="onAddPooja()" style="background-color: #3b5998; height: 45px" href="javascript:void(0)" role="button"
                    >
                    Add
                  </a> -->
                </td>
                <td>
                  <div class="md-form">
                    <input type="number" id="pooja_add_price" name="pooja_price" class="form-control" 
                    #pooja_price="ngModel" [(ngModel)]="newPooja.pooja_price" mdbInput mdbValidate
                      [validateSuccess]="false" required>
                    <label for="pooja_price">Price</label>
                    <mdb-error *ngIf="pooja_price && pooja_price.invalid && (pooja_price.dirty || pooja_price.touched)">Price is required</mdb-error>
                  </div>
                  
                </td>
                <td>
                  <button mdbBtn [disabled]="poojasForm?.invalid || (isLoading$ | async)" class="mt-4 btn btn-floating add" (click)="onAddPoojaType()" size="sm" gradient="purple" mdbWavesEffect>
                    <mdb-icon fas icon="plus" class="white-text"></mdb-icon> <span class="pl-2 white-text">Add</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </form>

        <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center my-4">
          <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        
        </mdb-card-body>
      </mdb-card>
      


