<app-split-body [isLoading$]="!isLoading$">
  <div class="left-section">
    <mdb-card>
      <mdb-card-header class="w-100 d-flex justify-space-between bg-primary white-text">
        <div>
          <blockquote class="text-left  blockquote bq-success">
            <h3 class="header">{{"DONATIONS.Add_Donations" | translate}}</h3>
            <p class="py-0" *ngIf="donationForm.valid">{{"DONATIONS.Add_Donations_Desc" | translate}} <span class="price">&#x20B9;{{donationForm?.value.amount}}</span> from {{donationForm?.value.name}}</p>
          </blockquote>
        </div>
        <button mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="donationDate" [endDate]="endDate" [startDate]="startDate"
        header="Select Date" (dateSelected)="donDatePicked($event)">
        <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> <span appDateTransform [date]="donationDate.format('YYYY-MM-DD')"></span>
      </button>
      </mdb-card-header>
      <mdb-card-body class="py-2">
        <form #donationForm="ngForm">
        <div class="modal-content">
          <div class="modal-body">
            <div class="left-section">
                <div class="md-form">
                  <input type="text" id="name" name="name" class="form-control" [(ngModel)]="donation.name" mdbInput mdbValidate
                    [validateSuccess]="false" #name="ngModel" required>
                  <label for="name">{{"DONATIONS.Name" | translate}}</label>
                  <mdb-error *ngIf="name && name.invalid && (name.dirty || name.touched)">{{"DONATIONS.Name" | translate}} {{"is_required" | translate}}</mdb-error>
                </div>
        
                <div class="btn-toolbar star-container" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="md-form hidden">
                    <input type="text" id="star" name="star" class="form-control" [(ngModel)]="donation.nakshatram" mdbInput mdbValidate
                      [validateSuccess]="false" #star="ngModel" required>
                    <label for="star">{{"DONATIONS.Star" | translate}}</label>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button (click)="selectStar(star)" 
                      *ngFor="let star of starSigns" mdbBtn type="button" color="warning" [class.selected]="star === donation.nakshatram"
                       mdbWavesEffect>{{star}}</button>
                  </div>
                </div>
                <div class="md-form">
                  <textarea required type="text" id="address" name="address" class="md-textarea form-control" #address="ngModel"
                    [(ngModel)]="donation.address" mdbInput mdbValidate [validateSuccess]="false"></textarea>
                  <label for="address">{{"DONATIONS.Address" | translate}}</label>
                </div>
          
              
            </div>
            <div class="right-section">
              <mdb-card class="text-center">
                <mdb-card-body>
                  <div class="md-form phone">
                    <input type="number" id="phone" name="phone" class="form-control" #phone="ngModel" [(ngModel)]="donation.phone_number" mdbInput mdbValidate
                      [validateSuccess]="false" required>
                    <label for="phone">{{"DONATIONS.Phone_Number" | translate}}</label>
                    <mdb-error *ngIf="phone && phone.invalid && (phone.dirty || phone.touched)">{{"DONATIONS.Phone_Number" | translate}} {{"is_required" | translate}}</mdb-error>
                  </div>
                  <div class="d-flex">
                  <div class="md-form w-50">
                    <input type="text" id="item" name="item" class="form-control" #phone="ngModel" [(ngModel)]="donation.item" mdbInput mdbValidate
                      [validateSuccess]="false" required>
                    <label for="phone">{{"DONATIONS.Item" | translate}}</label>
                    <mdb-error *ngIf="phone && phone.invalid && (phone.dirty || phone.touched)">{{"DONATIONS.item" | translate}} {{"is_required" | translate}}</mdb-error>
                  </div>
                  <div class="suggestion-container" *ngIf="frequentItems?.length">
                    <mdb-badge class="cursor-pointer mr-1 p-2" *ngFor="let expenseName of frequentItems" pill="true" [info]="expense.item !== expenseName" [success]="expense.item === expenseName" (click)="expense.item = expenseName">{{ expenseName }}</mdb-badge>
                  </div>
                  </div>
                  <div class="text-lg mt-4 amount">
                    <label for="amount" class="grey-text">{{"DONATIONS.Amount" | translate}}</label>
                    <div class="md-form mt-0">
                      <span class="d-flex">
                        <span class="price">&#x20B9;</span>
                        <input type="number" class="form-control price" id="amount" name="amount" [(ngModel)]="donation.amount" #amount="ngModel" mdbValidate [validateSuccess]="false" required>
                      </span>
                      <mdb-error class="ml-3" *ngIf="amount && amount.invalid && (amount.dirty || amount.touched)">{{"DONATIONS.Amount" | translate}} {{"is_required" | translate}}</mdb-error>
                    </div>
                  </div>
                </mdb-card-body>
              </mdb-card>
            </div>
          </div>
       

        </div>
      </form>
      </mdb-card-body>
      <mdb-card-footer class="modal-footer">
          <div class="d-flex">
            <button type="button" mdbBtn class="waves-light" aria-label="Close" (click)="resetForm()"
              mdbWavesEffect>{{"DONATIONS.Clear" | translate}}</button>
            <button type="button" mdbBtn color="success" [disabled]="donationForm.invalid" class="relative waves-light" 
            mdbWavesEffect (click)="onSave()">{{"Save" | translate}}</button>
            <app-printer #appPrinter [type]="'donation'" [hidden]="true"></app-printer>
          </div>
      </mdb-card-footer>
    </mdb-card>
    
  </div>
  <div class="right-section">
    <app-right-card [header]="'Todays Donations'" >
      <div class="card-header bg-primary white-text">
        <span class="icon-button" (click)="prevDate()">
          <mdb-icon *ngIf="isManager$ | async" fas icon="chevron-left" class="ml-1 float-left delete cursor-pointer white-text" alt="Left"></mdb-icon>
        </span>
        <span>
          {{"DONATIONS.Donations_on" | translate}} 
          <button [disabled]="!(isManager$ | async)" mdbWavesEffect mdbBtn type="button" rounded="true" color="white" class="pull-right text-lg btn-primary" rrDatePicker [date]="defaultDate" [endDate]="defaultDate"
          (click)="dateClicked($event)" header="Select Date" (dateSelected)="datePicked($event)">
            <mdb-icon fas icon="calendar-alt mr-2" size="lg" class="calendar" alt="date"></mdb-icon> {{ formattedDate }}
          </button>
        </span>
        <span class="icon-button" (click)="nextDate()">
          <mdb-icon *ngIf="(isManager$ | async) && selectedDate.format('DD/MM/YYYY') !== defaultDate.format('DD/MM/YYYY')" mdbtn fas icon="chevron-right" class="ml-1 float-right delete cursor-pointer white-text" alt="Right"></mdb-icon>
        </span>
      </div>
      <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center">
        <div class="spinner-grow text-primary" role="status" style="width: 4rem; height: 4rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <table mdbTable small="true" striped="true" *ngIf="!(isLoading$ | async) && todaysDonationList.length > 0">
        <thead>
          <tr>
            <th>{{"DONATIONS.Name" | translate}}</th>
            <th>{{"DONATIONS.Nakshathram" | translate}}</th>
            <th>{{"DONATIONS.Item" | translate}}</th>
            <th colspan="2">{{"DONATIONS.Amount" | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todaysDonationList">
            <td scope="row">{{ item?.name }}</td>
            <td>{{ item?.nakshatram }}</td>
            <td>{{ item?.item }}</td>
            <td class="table-price">&#x20B9;{{ item?.amount }}
            </td>
            <td *ngIf="isManager$ | async" >
              <mdb-icon fas icon="trash" class="ml-1 delete grey-text" (click)="onDelete(item?.uuid)" alt="Delete"></mdb-icon>
            </td>
            <td>
              <app-printer [type]="'donation'" [donation]="item"></app-printer> 
            </td>
          </tr>

          <tr>
          </tr>
        </tbody>
      </table>
      <div role="footer" *ngIf="!(isLoading$ | async)">
        <div class="card-footer text-muted">
          {{"Total" | translate}}: <b class="price total-amount">&#x20B9;{{getTotalAmount()}}</b>
        </div>
      </div>
    </app-right-card>
  </div>
</app-split-body>

