<button #buttonRef [style.display]="hidden ? 'none': ''" (click)="triggerPrint()">
    <span>{{text}}</span>
    <mdb-icon fas icon="print" class="float-left fa-lg mr-2" alt="no data"></mdb-icon>
</button>

<div class="content">

    <div class="main-copy" #bill>
		<header>
			<img class="icon" [src]="temple.icon" alt="">
            <div class="text">
                <h3 class="temple-name">{{temple.temple_name}}</h3>
                <span class="manthram" *ngIf="temple?.misc?.manthram">{{temple?.misc?.manthram}}</span>
                <span class="address">{{temple.temple_address}}</span>
                <span class="phone">Phone : {{temple.phone_number}}</span>
                <ng-container [ngSwitch]="type">
                    <div class="title" *ngSwitchCase="'pooja'"><span *ngIf="poojas && poojas.length">{{poojas[0]?.pooja_name}}</span></div>
                    <div class="title" *ngSwitchCase="'expense'"><span>{{"Expense_Receipt" | translate}}</span></div>
                    <div class="title" *ngSwitchCase="'donation'"><span>{{"Donations_Receipt" | translate}}</span></div>
                </ng-container>
            </div>
		</header>
        <!-- pooja...----------------- -->
        <body *ngIf="type === 'pooja' && poojas">
            <title>{{poojas[0]?.pooja_name}} - {{"Receipt" | translate}}: {{poojas[0]?.receipt_number}}</title>
            <!-- <div class="title"><span>{{poojas[0]?.pooja_name}}</span></div> -->
            <div class="date-receipt">
                <span>{{"Date" | translate}} : <span class="db" appDateTransform [date]="poojas[0].pooja_date" [format]="'DD-MM-YYYY'"></span></span>
                <span *ngIf="poojas[0]?.receipt_number" class="db bt-gray">{{"Receipt" | translate}}: <span >{{poojas[0]?.receipt_number}}</span></span>
            </div>
            <br>
            <div class="details">
                <div class="content w-100">
                    <div class="row" *ngIf="poojas[0]?.address">
                        <span class="label">{{"DONATIONS.Address" | translate}} :</span> 
                        <span class="value">{{poojas[0]?.address}}</span>
                    </div>
                    <div class="row"  *ngIf="poojas[0]?.phone_number && poojas[0]?.phone_number !== '0'">
                        <span class="label">{{"Phone_Number" | translate}} :</span>
                        <span class="value">{{poojas[0]?.phone_number}}</span>
                    </div>
                    </div>
                    </div>
                    <br>
                   <ng-container *ngIf="size !== 'bill'">
                    <ng-container *ngFor="let splitPooja of splitPoojas; let j = index;">
                        <hr class="page-break" *ngIf="j > 0">
                        <table class="pooja-table">
                        <thead style="background-color: whitesmoke; padding: 10px;">
                
                            <tr style="font-weight: bold;">
                                <td>{{"No#" | translate}}</td>
                                <td>{{"Name" | translate}}</td>
                                <td>{{"Nakshatram" | translate}}</td>
                                <td>{{"Amount" | translate}}</td>
                            </tr>
                        </thead>
                        <tbody style="border-bottom: 1px dotted black">
                            <ng-container *ngFor="let pooja of splitPooja; let i = index;">
                                <tr>
                                    <td>{{i+ (j > 0 ? splitPoojas[j-1].length : j) +1}}</td>
                                    <td>{{pooja?.name}}</td>
                                    <td>{{pooja?.nakshatram}}</td>
                                    <td appToFixed>&#x20B9; {{(pooja?.pooja_price)}}</td>
                                </tr>

                            </ng-container>
                        </tbody>
                        <tfoot *ngIf="j + 1 == splitPoojas.length">
                            <tr style="border-bottom: 1px dashed black; margin-top: 10px; background-color: whitesmoke;">
                                <td colspan="3" style="font-weight: bold;"><b>{{"Total_Amount" | translate}}</b></td>
                                <td style="font-weight: bold;"><b>&#x20B9; {{getTotalPrice(poojas,
                                        'pooja_price')}}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </ng-container>

                </ng-container>
                    <div *ngIf="size === 'bill'" class="bill">
                        <div *ngFor="let pooja of poojas" class="row-container">
                            <div class="row">
                                <span class="label">{{"Name" | translate}} :</span>
                                <span class="value">{{pooja?.name}}</span>
                            </div>
                            <div class="row">
                                <span class="label">{{"Nakshatram" | translate}} :</span>
                                <span class="value">{{pooja?.nakshatram}}</span>
                            </div>
                            <div class="row">
                                <span class="label">{{"Amount" | translate}} :</span> 
                                <span appToFixed class="value">{{(pooja?.pooja_price)}}</span>
                            </div>
                        </div>
                        <table class="pooja-table">
                            <tfoot>
                                <tr style="border-bottom: 1px dashed black; margin-top: 10px; background-color: whitesmoke;">
                                    <td colspan="2" style=" font-weight: bold;"><b>{{"Total_Amount" | translate}}</b></td>
                                    <td style=" font-weight: bold;"><b>&#x20B9; {{getTotalPrice(poojas,
                                            'pooja_price')}}</b></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </body>

        <!-- expense_---------------------- -->
        <body *ngIf="type === 'expense' && expense">
            <title>{{"Expense_Receipt" | translate}} - {{"Receipt" | translate}}: {{expense?.receipt_number}}</title>
              
                <!-- <div class="title"><span>{{"Expense_Receipt" | translate}}</span></div> -->
                <div class="date-receipt">
                    <span>{{"Date" | translate}} : {{expense.expense_date}}</span>
                    <span class="bt-gray">{{"Receipt" | translate}} : {{expense?.receipt_number}}</span>
                </div>
                <br>
                <div class="details">
                    <div class="content w-100">
                        <div class="row">
                            <span class="label">{{"Item" | translate}} :</span>
                            <span class="value bold">{{expense.item}}</span>
                        </div>
                        <div class="row">
                            <span class="label">{{"Cost" | translate}} :</span>
                            <span class="value bold">₹{{expense.cost}}</span>
                        </div>
                        <div class="row" *ngIf="expense.description">
                            <span class="label">{{"Notes" | translate}} :</span>
                            <span class="value bold">{{expense.description}}</span>
                        </div>
                        <table class="total-amount">
                            <tr
                                style="border-bottom: 1px dashed black; margin-top: 10px; background-color: whitesmoke;">
                                <td style=" font-weight: bold;"><b>{{"Total_Amount" | translate}}</b></td>
                                <td style=" font-weight: bold;"><b appToFixed>₹
                                        {{( expense.cost)}}</b></td>
                            </tr>
                        </table>
        
                    </div>
                </div>
        
        </body>


        <!-- DONATION---------------------- -->
        <body *ngIf="type === 'donation' && donation">
            <title>{{"Donations_Receipt" | translate}} - {{"Receipt" | translate}}: {{donation?.receipt_number}}</title>
              
                <!-- <div class="title"><span>{{"Date" | translate}}Donation Receipt</span></div> -->
                <div class="date-receipt">
                    <span>{{"Date" | translate}} : {{donation.donation_date}}</span>
                    <span class="bt-gray">{{"Date" | translate}}Receipt No : {{donation?.receipt_number}}</span>
                </div>
                <br>
                <div class="details">
                    <div class="content w-100">
                        <div class="row">
                            <span class="label">{{"Name" | translate}} :</span>
                            <span class="value bold">{{donation.name}}</span>
                        </div>
                        <div class="row">
                            <span class="label">{{"Date" | translate}}Nakshathram :</span>
                            <span class="value bold">{{donation.nakshatram}}</span>
                        </div>
                        <div class="row">
                            <span class="label">{{"Address" | translate}} :</span>
                            <span class="value bold">{{donation.address}}</span>
                        </div>
                        
                        <div class="row">
                            <span class="label">{{"Phone_Number" | translate}} :</span>
                            <span class="value">{{donation.phone_number}}</span>
                        </div>
                        <div class="row">
                            <span class="label">{{"Amount" | translate}} Received :</span>
                            <span appToFixed class="value bold">₹{{(donation.amount)}}</span>
                        </div>
                        <table class="total-amount">
                            <tr
                                style="border-bottom: 1px dashed black; margin-top: 10px; background-color: whitesmoke;">
                                <td style=" font-weight: bold;"><b>{{"Total_Amount" | translate}}</b></td>
                                <td style=" font-weight: bold;"><b appToFixed>₹
                                        {{( donation.amount)}}</b></td>
                            </tr>
                        </table>
        
                    </div>
                </div>
        
        </body>

        <!-- REPORT--------------------- -->

        <body *ngIf="type === 'report' && reports" class="report">
            <div class="title"><span>{{"REPORTS.Financial_Reports" | translate}}</span></div>
            <p>{{"Period" | translate}} : {{reportPeriod}}</p>
          <br>
          <ng-container *ngIf="reports.length > 0; else NoReport">
            <section *ngFor="let report of reports">
                <p style="font-weight: bold;padding-bottom: 10px; border-bottom: 1px solid dimgray;">{{"Date" | translate}}:
                    <b>{{report.date}}</b>
                </p>
                <table *ngIf="report?.poojas.length">
                    <p class="heading">{{"MAIN.POOJAS" | translate}}</p>
                    <tr><br><br></tr>
                    <tbody style="border: 1px dotted black">
                        <tr>
                            <td style="font-weight: bold;">{{"Pooja" | translate}}</td>
                            <td style="font-weight: bold;">{{"Amount" | translate}}</td>
                        </tr>
                        <tr *ngFor="let pooja of getGroupedReportByPoojas(report.poojas).consolidatedList">
                            <td>{{pooja.pooja_name}}</td>
                            <td><b appToFixed>&#x20B9; {{(pooja.pooja_price)}}</b></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">{{"Total_Amount" | translate}}</td>
                            <td><b>&#x20B9; {{getGroupedReportByPoojas(report.poojas).totalSum}}</b></td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
                <table *ngIf="report?.expenses.length">
                    <p class="heading">{{"MAIN.EXPENSES" | translate}}</p>
                    <tr><br></tr>
                    <tbody style="border: 1px dotted black">
                        <tr>
                            <td style="font-weight: bold;">{{"Date" | translate}}</td>
                            <td style="font-weight: bold;">{{"Item" | translate}}</td>
                            <td style="font-weight: bold;">{{"POOJAS_LIST.Description" | translate}}</td>
                            <td style="font-weight: bold;">{{"POOJAS_LIST.Added_By" | translate}}</td>
                            <td style="font-weight: bold;">{{"Amount" | translate}}</td>
                        </tr>
                        <tr *ngFor="let expense of report.expenses">
                            <td>{{expense.expense_date}}</td>
                            <td>{{expense.item}}</td>
                            <td>{{expense.description}}</td>
                            <td>{{expense.added_by}}</td>
                            <td><b appToFixed>&#x20B9; {{(expense.cost)}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-weight: bold;">{{"Total_Expense" | translate}}</td>
                            <td><b>&#x20B9; {{getTotalPrice(report.expenses, 'cost')}}</b></td>
                        </tr>
                    </tbody>
                </table>
                <br><br>

                <table *ngIf="report?.donations.length">
                    <p class="heading">{{"DONATIONS.Donations" | translate}}</p>
                    <br>
                    <tbody style="border: 1px dotted black">
                        <tr>
                            <td style="font-weight: bold;">{{"Date" | translate}}</td>
                            <td style="font-weight: bold;">{{"Name" | translate}}</td>
                            <td style="font-weight: bold;">{{"Nakshatram" | translate}}</td>
                            <td style="font-weight: bold;">{{"Phone_Number" | translate}}</td>
                            <td style="font-weight: bold;">{{"Address" | translate}}</td>
                            <td style="font-weight: bold;">{{"Date" | translate}}Added By</td>
                            <td style="font-weight: bold;">{{"Amount" | translate}}</td>
                        </tr>
                        <tr *ngFor="let expense of report.donations">
                            <td>{{expense.donation_date}}</td>
                            <td>{{expense.name}}</td>
                            <td>{{expense.nakshatram}}</td>
                            <td>{{expense.phone_number}}</td>
                            <td>{{expense.address}}</td>
                            <td>{{expense.added_by}}</td>
                            <td><b appToFixed>&#x20B9; {{(expense.amount)}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="6" style="font-weight: bold;">{{"Total_Donations" | translate}}</td>
                            <td><b>&#x20B9; {{getTotalPrice(report.donations, 'amount')}}</b></td>
                        </tr>
                    </tbody>
                    <br><br>
                </table>
            </section>
        </ng-container>
        <ng-template #NoReport>
            <span>No Reports available</span>
        </ng-template>
            <div>
                <br><br>
                <footer>
                    {{"Generated_Date" | translate}}:
                    {{getCurrentDate()}}
                </footer>
            </div>

        </body>

        <footer>
            <table class="notes">
                <tr>
                    <td>{{"Billed_By" | translate}} : {{temple.displayName}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="float: right; border-top: 1px dashed black;">{{"Authorized_Signature" | translate}}</td>
                </tr>
            </table>
            <br>
            <div class="footer">
                <div class="content">
                    <span>{{"ThankYou" | translate:{phone_number: temple.phone_number, email: temple.email} }}</span>
                </div>
                <!-- <p>For Temple Accounting Software, please contact 8547854183 or email us at </p> -->
            </div>
        </footer>

	</div>

    
</div>