/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

input {
  width: 100%;
  min-width: 100px;
}

label, div {
  user-select: none; 
}

.full-page-container {
  height: calc(100vh - 114px);
}

app-root {
  min-height: 100%;
  // overflow: hidden;
  display: block;
  position: relative;
  background-color: #eee;
}

.section-header {
  padding-top: 70px;
  padding-bottom: 40px;
}

.footer-absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
}

app-welcome {
  background-color: white;
}

.md-form > input[type]:-webkit-autofill:not(.browser-default):not([type=search]) + label, .md-form > input[type=time]:not(.browser-default) + label {
  width: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import './app/directives/datepicker.scss';

blockquote {
  margin: 0!important;
  padding: 0 15px!important;
}

.price {
  color: orange;
  font-weight: bold;
  font-size: 28px;
}

.right-section {
  table {
    th {
      padding-left: 15px;
      padding-right: 15px;
    }
    tr {
      td {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.md-form {
  text-align: left;

  .form-control {
    margin-bottom: 0;
  }
  span.price {
    margin: 10px 5px 0 0;
  }
}

.error-message, .success-message {
  position: relative!important;
  top: 0!important;
}

.icon-button {
  height: 50px;
  width: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}