.users-list {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.user {
  width: 80%;
  margin: 1rem;

  .add-card {
    &:hover {
      background-color: whitesmoke;
      cursor: pointer;
    }
  }
}

.d-flex-start {
  display: flex;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group {
  width: 250px;
}

.overflow-auto {
  overflow: auto;
}
@media (min-width: 768px) {
  .user {
      width: calc(50% - 2rem);
  }

  .users-list {
      justify-content: normal;
  }
}

@media (min-width: 992px) {
  .user {
      width: calc(33.3333% - 2rem);
  }
}

@media (min-width: 1200px) {
  .user {
      width: auto;
  }
}

@media (min-width: 1000px) {
  .paper {
      padding: 0 20%;
  }
}  